.card {
  background-color: white;
  padding: 7.5%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #1c1300;
  height: var(--card-height);
  transition:
    height 0.15s ease-in,
    box-shadow 0.15s ease-in,
    background-color 0.15s ease-in-out,
    transform 0.15s ease-in;
}

.card:hover {
  background-color: #DDD;
}

.card:active {
  transform: translateY(5px);
  height: calc(var(--card-height) - 5px);
  box-shadow: none;
}

.h3 {
  font-size: calc(20rem / 9);
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 15px;
}

.p {
  font-size: 20px;
  padding: 5px;
}

@media only screen and (max-width: 1350px) {
  .p {
    font-size: calc(16rem / 9);
  }
}

@media only screen and (max-width: 850px) {
  .card {
    padding: 2.5%;
  }

  .h3 {
    font-size: 4rem;
  }

  .p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .h3 {
    font-size: 21.68px;
  }

  .p {
    font-size: 16.26px;
  }
}
