.title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 40px;
  border-bottom: 1px solid white;
  width: 90%;
  margin-left: 5%;
}

.mission {
  background-color: black;
  padding:10px;
}

.text {
  margin-top: 10px;
  font-size: 20px;
  line-height: 35px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 5px;
}
